name: CI/CD

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - edited
  workflow_dispatch:

jobs:
  golangci:
    name: Linter
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
  conventional_commits:
    name: Conventional Commits
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - name: Install commitlint
        run: npm install -g @commitlint/cli @commitlint/config-conventional
      - name: Check PR title
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: |
          echo "$TITLE" | npx commitlint
  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/bake-action@v6
        with:
          targets: test
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/bake-action@v6
        with:
          targets: build
