name: CI/CD

on:
  push:
    branches-ignore:
      - main
  pull_request:
  workflow_dispatch:

env:
  GO_VERSION: 1.23.12

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
  test:
    name: test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/bake-action@v6
        with:
          targets: test
  build:
    name: build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/bake-action@v6
        with:
          targets: build
